{# {% extends 'base.html.twig' %}
{% block body %}
<h2>Liste des membres</h2>
<ul>
  {% for member in members %}
    <li>
      <a href="{{ path('member_show', {id: member.id}) }}">
        {{ member.nom }} {{ member.metier }} {{ member.statut }}
      </a>
    </li>
  {% endfor %}
</ul>
{% endblock %} #}
