.contact-section {
   background: linear-gradient(135deg, #b39f6b, #e8eaeb);
  padding: 60px 20px;
  border-top: 4px solid #664315;
}

.contact-section h2 {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  margin-bottom: 20px;
  color:  #664315;;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.contact-phone {
  font-size: 18px;
  margin-bottom: 30px;
}
